<div>

    <h2 translate="posApp.orderDetail.home.title">OrderDetail</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveOrderDetailModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="posApp.orderDetail.home.createLabel">Create a new OrderDetail</span>
    </button>
    <div class="modal fade" id="saveOrderDetailModal" tabindex="-1" role="dialog" aria-labelledby="myOrderDetailLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myOrderDetailLabel" translate="posApp.orderDetail.home.createOrEditLabel">Create or edit a OrderDetail</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="orderDetail.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="posApp.orderDetail.quantity">Quantity</label>
                            <input type="number" class="form-control" name="quantity"
                                   ng-model="orderDetail.quantity" required min="1" max="4">

                            <div ng-show="editForm.quantity.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.quantity.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.quantity.$error.min" translate="entity.validation.min" translate-value-min="1">
                                    This field should be more than 1.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.quantity.$error.max" translate="entity.validation.max" translate-value-max="4">
                                    This field cannot be more than 4.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.quantity.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="posApp.orderDetail.amount">Amount</label>
                            <input type="number" class="form-control" name="amount"
                                   ng-model="orderDetail.amount" required min="4" max="10">

                            <div ng-show="editForm.amount.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.amount.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.amount.$error.min" translate="entity.validation.min" translate-value-min="4">
                                    This field should be more than 4.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.amount.$error.max" translate="entity.validation.max" translate-value-max="10">
                                    This field cannot be more than 10.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.amount.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="posApp.orderDetail.orderNo">orderNo</label>
                            <select class="form-control" name="orderNo" ng-model="orderDetail.orderNo.id" ng-options="orderNo.id as orderNo.id for orderNo in ordernos">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="posApp.orderDetail.item">item</label>
                            <select class="form-control" name="item" ng-model="orderDetail.item.id" ng-options="item.id as item.name for item in items">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOrderDetailConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(orderDetail.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="posApp.orderDetail.delete.question" translate-values="{id: '{{orderDetail.id}}'}">Are you sure you want to delete this OrderDetail?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="posApp.orderDetail.quantity">Quantity</th>
                    <th translate="posApp.orderDetail.amount">Amount</th>
                    <th translate="posApp.orderDetail.orderNo">orderNo</th>
                    <th translate="posApp.orderDetail.item">item</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orderDetail in orderDetails">
                    <td><a ui-sref="orderDetailDetail({id:orderDetail.id})">{{orderDetail.id}}</a></td>
                    <td>{{orderDetail.quantity}}</td>
                    <td>{{orderDetail.amount}}</td>
                    <td>{{orderDetail.orderNo.id}}</td>
                    <td>{{orderDetail.item.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="orderDetailDetail({id:orderDetail.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(orderDetail.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(orderDetail.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
