<div>

    <h2 translate="posApp.item.home.title">Item</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveItemModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="posApp.item.home.createLabel">Create a new Item</span>
    </button>
    
    <div class="modal fade" id="saveItemModal" tabindex="-1" role="dialog" aria-labelledby="myItemLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myItemLabel" translate="posApp.item.home.createOrEditLabel">Create or edit a Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="item.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="posApp.item.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="item.name" required ng-minlength="1" ng-maxlength="100">

                            <div ng-show="editForm.name.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                                    This field is required to be at least 1 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                                    This field cannot be longer than 100 characters.
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label translate="posApp.item.price">Price</label>
                            <!-- 
                            <input type="number" class="form-control" name="price"
                                   ng-model="item.price" required min="4" max="10">
                             -->
                            <input type="number" class="form-control" name="price"
                                   ng-model="item.price" required min="1">

                            <div ng-show="editForm.price.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.price.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.price.$error.min" translate="entity.validation.min" translate-value-min="1">
                                    This field should be more than 1.
                                </p>                                
                                <!--
                                <p class="help-block"
                                   ng-show="editForm.price.$error.min" translate="entity.validation.min" translate-value-min="4">
                                    This field should be more than 4.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.price.$error.max" translate="entity.validation.max" translate-value-max="10">
                                    This field cannot be more than 10.
                                </p>
                                 -->
                                <p class="help-block"
                                   ng-show="editForm.price.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                                                
                        <div class="form-group">
                            <label translate="posApp.item.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="item.description" ng-maxlength="255">

                            <div ng-show="editForm.description.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="255">
                                    This field cannot be longer than 255 characters.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="posApp.item.category">category</label>
                            <select class="form-control" name="category" ng-model="item.category.id" ng-options="itemCategory.id as itemCategory.name for itemCategory in itemcategorys">
                            </select>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteItemConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(item.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="posApp.item.delete.question" translate-values="{id: '{{item.id}}'}">Are you sure you want to delete this Item?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="posApp.item.name">Name</th>
                    <th translate="posApp.item.price">Price</th>
                    <th translate="posApp.item.description">Description</th>
                    <th translate="posApp.item.category">Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="item in items">
                    <td><a ui-sref="itemDetail({id:item.id})">{{item.id}}</a></td>
                    <td>{{item.name}}</td>
                    <td><span number-format="item.price"></span></td>
                    <td>{{item.description}}</td>
                    <td>{{item.category.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="itemDetail({id:item.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(item.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(item.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
