html, body { height: 100%; min-width:1000px; padding:0; margin:0; }
#wrap { height: auto; margin: 0 auto -55px; min-height: 100%; padding: 0 0 40px; min-width:970px; width: 100%; }

#wrapper { width: 980px; height:590px; margin:0 auto; padding:0; overflow: hidden; }
.navbar .container { width:970px !important;  }
.container { padding-left:0; padding-right:0; width: 970px !important; }

.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}

.container {
  max-width: none !important;
  width: 970px;
}

.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.navbar-header {
  float: left;
}

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  padding-right:0;
}

.navbar-toggle {
  display: none;
}

.navbar-brand {
  margin-left: -15px;
}

.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}

.navbar-nav.navbar-right {
  float: right;
}

.navbar .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
}
.navbar .open .dropdown-menu > li > a {
  color: #333 !important;
}
.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
}
.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
}

