@charset "utf-8";
/* CSS Document */

.ui-keyboard {
	padding: .3em;
	z-index: 16001;
	background: rgba(255, 255, 255, 0.9);   
	right: 0 !important;
	left: 0 !important;
	top: auto !important;
    bottom: 0px !important;
    position: fixed !important;
    width: 100%;
	height:200px;
		-webkit-box-shadow: -5px 0px 10px rgba(50, 50, 50, 0.50);
		-moz-box-shadow:    -5px 0px 10px rgba(50, 50, 50, 0.50);
		box-shadow:         -5px 0px 10px rgba(50, 50, 50, 0.50);
		

}
.ui-kbnum {
	padding: .3em;
	z-index: 16000;
	background-color: #FFF;    
	right: 0 !important;
	left: auto !important;
    top: 0px !important;
    position: fixed !important;
    width: 220px;
	height:100%;
	padding-top: 80px;
		-webkit-box-shadow: -5px 0px 10px rgba(50, 50, 50, 0.50);
		-moz-box-shadow:    -5px 0px 10px rgba(50, 50, 50, 0.50);
		box-shadow:         -5px 0px 10px rgba(50, 50, 50, 0.50);

}
.ui-keyboard div {
	font-size: 1.1em;
}
.ui-keyboard-button {
	height: 3em;
	width: 3em;
	margin: .1em;
	cursor: pointer;
	overflow: hidden;
}
.ui-keyboard-button span {
	padding: 0;
	margin: 0;
	white-space:nowrap;
}
.ui-keyboard-button-endrow {
	clear: left;
}
.ui-keyboard-widekey {
	width: 4em;
}


.ui-keyboard-preview {
	text-align: left;
	margin: 0 0 3px 0;
	display: inline;
	width: 99%;
}
.ui-keyboard-keyset {
	text-align: center;
}
.ui-keyboard-input {
	text-align: left;
}
.ui-keyboard-input-current {
border: 1px solid #CCC !important;
background-color:#FFF !important;
}
.ui-keyboard-input-placeholder {
	color: #888;
}

.ui-keyboard-nokeyboard {
	color: #888;
	border-color: #888;
}
.ui-keyboard-button.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
} 

.ui-keyboard-button.ui-keyboard-combo.ui-state-default {
	border-color: #ffaf0f;
}
.ui-keyboard-space {
	width: 18.5em;
	text-indent: -999em;
}
.ui-keyboard .ui-keyboard-enter { width: 6.2em; }
.ui-keyboard .ui-keyboard-shift { width: 3em; }
.ui-keyboard .ui-keyboard-accept {
	width: 7.9em;
	background-color: #3FB618;
	border-color: #3FB618;
	padding-left: 2px;
	padding-right: 2px; 
}
.ui-keyboard .ui-keyboard-accept:hover {
	background-color: #339213;
	border-color: #2C8011;
}
.ui-keyboard .ui-keyboard-cancel {
	width: 4.5em;
	background-color: #FF0039;
	border-color: #FF0039;
	padding-left: 2px;
	padding-right: 2px; 
}
.ui-keyboard .ui-keyboard-cancel:hover {
	background-color: #D60030;
	border-color: #C2002B;
}

.blackbg {
        z-index: 5000;
        background-color: #666;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        opacity: 0.5;
		width:100%;
		height:100%;
		top:0;
		left:0;
		position:absolute;
      }
.loader {
	color: white;
	top: 50%;
	left: 50%;
	width:32px; height:32px;
	margin-left: -16px;
	margin-top: -16px;
	position: fixed;
}
.bootbox-close-button { display: none; }
.bootbox .modal-footer { background: none; text-align:center; }


.pos { width: 100%; margin: 10px auto;  }
#pos {
	position:relative;
}

#satu {
	text-align:center;
}
td.text_right { text-align:right; padding-right:10px; } 
td.tborder {border-top: 1px solid #666; font-weight:bold;}
#pos #wrapper {
	width: 1020px;
}
#pos #cpdiv {
	display: inline-block;
}
#pos #cp {
	float:left;
	margin: 10px;
}


#pos #cp .ui-button .ui-button-text {
	padding: 0;
	word-wrap: break-word;
	word-break: hyphenate;
}
#pos span.ui-button-text {
	word-wrap: break-word;
	word-break: hyphenate;
}


#pos #leftdiv {
	width: 390px;
	float:left;
	height:566px;
	margin: 10px 0;
	border: 1px solid #DCE0E1;
}

#pos #cp {
	width: 570px;
	float:left;
	margin: 10px 0 0 10px;
}

#pos #prodiv {
	height: 320px;
}
#pos #printhead, #pos #printfooter {
	display: none;
}
#pos .protable, #pos .miantable {
	padding:5px 0;
	border-collapse:collapse;
	border-spacing:0;
	padding:0;
}
/*#pos .miantable, #pos .miantable thead, #pos .miantable tr { width: 100% !important;}*/
#protbldiv {
	height: 320px;
	position: relative;
	overflow: scroll;
	/*horizontal-scroll;*/
	overflow-x:hidden;

}
#pos .protable {
	border: 0;
	width: 100%; /* height: 295px; margin-bottom:10px; overflow:auto; */
}

#pos #num {
	width: 250px;
}

#pos .keyboard, #pos .price, #pos .code {
	color:#333;
	margin: 0;
	text-align: center;
	padding: 0;
	font-size: 12;
	font-weight:normal;
	width: 95%;
	background: transparent;
	background-color: transparent;
	border: 0;
}

#pos .price {
	text-align: right;
}
#pos .code {
	text-align: left;
}
#pos .ui-keyboard-button {
	width: 3em;
	height: 3em;
}

.chzn-container-single a {
	padding:2px !important;
}
#pos #catContainer { display:block; padding: 5px 1px 1px 5px; border: 1px solid #CCC; background:#F9F9F9;}
#pos #proContainer { display:block; padding: 5px;}

.rotate {
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
position:absolute; 
bottom:185px; 
right: -165px; 
font-size:18px; 
font-weight:bold; 
color:#333;
}
html, body { height: 100%; }
#wrap { height: auto; margin: 0 auto -50px; min-height: 100%; padding: 0 0 50px; }
#footer {
  height: 40px;
  background-color: #f5f5f5;
  margin-top:10px;
}

.container .credit {
  margin: 9px 0;
  text-align:center;
}	
/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}


/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: -10px;
	border:0 !important;
	background: url(../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: -10px;
	border:0 !important;
	background: url(../images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

.modal-primary { background: #007FFF; }
.modal-primary .modal-title { color: #FFF !important; }

.modal-info { background: #8431A5; }
.modal-info .modal-title { color: #FFF !important; }

.modal-success { background: #3FB618; }
.modal-success .modal-title { color: #FFF !important; }

.white, .white a { color: #FFF; }

.modal-footer { background: #F5F5F5; padding:10px; }

#wrapper { width: 980px; height:590px; margin:0 auto; padding:0; overflow: hidden; }
#wrap { margin-bottom: -50px !important; }
.container { padding-left:0; padding-right:0; width: 970px !important; }

	#cp .btn { border-width: 1px; border-style: solid; }
	/*.alert { position:absolute; bottom: 10px; right:10px; width:500px; z-index:50005; }*/
	/*#slider_con { width: 90%; height:45px;  display:block; position: relative; margin: 20px auto 0 auto; overflow:hidden; }*/
	/*#slider { width: 100%; height:52px;  display:block; position: relative; margin: 0; border:1px solid #040404; }*/
	#slider { width: 100%; height:52px;  display:block; position: relative; margin: 0; border: 0.5px solid #040404; }
	.btn-category { margin: 0; padding: 0; display:block;} 
	.btn-category .btn-primary { border-color: #8441A5 !important; }
	.btn-category .btn-default { border-color: #040404 !important; }
	.btn-category .btn-success { border-color: #11866F !important; }
	.btn-category .btn-info { border-color: #783C96 !important; }
	.btn-category .btn-warning { border-color: #DA5800; }
	/*.btn-category .btn { float:left; width:114px !important; height:50px; padding:5px; margin:0 !important; border-bottom: 0; border-left:0; border-top:0; position: relative; word-break: break-strict; word-wrap: break-word; white-space: pre-wrap; }*/
	.btn-category .btn { float:left; width:114px !important; height:50px; padding:5px; margin:0 !important; border-bottom: 0; border-left:0; border-top:0; position: relative; word-break: break-strict; word-wrap: break-word; }
	.btn-product { display:block; border:1px solid #0061C2; border-bottom:0; margin-top:10px; background:#0061C2;} 
	.btn-product .btn-primary { border-color: #0061C2 !important; }
	.btn-product .btn-success { border-color: #11866F !important; }
	/*.btn-product .btn { float:left; width:114px; display:block; overflow:hidden; height: 51px; word-break: break-strict; word-wrap: break-word; white-space: pre-wrap; padding:5px; margin:0 !important; border-bottom: 0; border-left:0; line-height:normal; display:table-cell; vertical-align:middle; }*/
	.btn-product .btn { float:left; width:114px; display:block; overflow:hidden; height: 51px; word-break: break-strict; word-wrap: break-word; padding:5px; margin:0 !important; border-bottom: 0; border-left:0; line-height:normal; display:table-cell; vertical-align:middle; }
	.btn-product .btn:nth-child(5n+5) { width: 112px; border-right:0; }
	.bx-pager { display: none; }
	.btn-con { height: 40px; margin: 0 -1px; }
	.btn-con .btn:first-child { width:50%; float:left; border-top:0; }
	.btn-con .btn:last-child { width:50%; float:left; border-top:0; border-left:0; }
	.btn-con .btn-default { border-color: #040404 !important; height: 44px; }
	
#pos .printspan { display: none; }

#pos .hov {
	cursor: default !important;
}
#pos .hov:hover, #pos .hov:active { 
	background: none !important;
	background-color: none !important;
}
#pos .btn-primary.hov { 
	background: #0061C2 !important;
	background-color: none !important;
}
#pos .btn-primary.hov:hover, #pos .btn-primary.hov:active { 
	background: #0061C2 !important;
	background-color: none !important;
}

.navbar-inverse .navbar-nav > li > a.hov:hover,
.navbar-inverse .navbar-nav > li > a.hov:focus {
  color: #ffffff;
  background-color: #007FFF !important;
}
#pos .del_row {
	width: 1em;
	height: 1em;
	background: none;
	border:0;
	cursor:pointer;
	padding:0;
	margin: 0 auto;
}

#pos .btn-tran {
	height: 77px;
	width: 16.666%;
	background: none;
	background: #F5F5F5;
	border:1px solid #EEE;
	cursor:pointer;
	padding:2px;
	margin: 0 auto;
}
#pos .btn-tran:hover {
	border: 1px solid #E5E5E5;
	background: #EEE;
	padding: 2px;
	color: #2C3E50;
}

#pos .btn-prni {
	height: 115px;
	width:16.666%;
	background: none;
	background: #F5F5F5;
	border:1px solid #EEE;
	cursor:pointer;
	padding:2px;
	margin: 0px auto;

}
#pos .btn-prni:hover {
	border: 1px solid #E5E5E5;
	background: #EEE;
	padding: 2px;
	color: #2C3E50;
}

#pos .btn-prni span { background: #F5F5F5; display:block; height: 38px; display:table-cell; line-height:15px; vertical-align:middle; width:16.666%; }
#pos .btn-prni:hover span { background: #EEE; }
	
#to-day td:last-child { text-align: right; }
#protbldiv .btn { border: 0; }
#pos #leftdiv .btn { text-transform: uppercase; }
#pos #leftdiv .table.totals:last-child tr:last-child { border-top: 1px solid #11866F; font-weight:bold; }
#totaltbl td { border:0; border-collapse:collapse; }
.table thead th { text-align:center; }

.bootbox .modal-dialog { width:400px; }
.bootbox.modal { top: 20%; }
.bootbox.modal .modal-footer {
	background: none;
	border: 0;
	text-align: center;
	padding-top:0; margin-top:0;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.em { width:600px; height: 600px; background:#FFF; margin: 0 auto; }